/* Write your CSS here */
.money-details {
  display: flex;
  /* flex-direction:column; */
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 10px;
  margin-top: 10px;
}
.balance {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #ecfccb;
  /* width:100%; */
  border: 1px solid #84cc16;
  border-radius: 14px;
  margin-bottom: 14px;
  padding: 10px;
}
.img {
  width: 50px;
  height: 50px;
  margin: 10px;
}
.text {
  color: #475569;
  font-size: 13px;
  margin-bottom: 5px;
}
.money {
  color: #475569;
  font-size: 20px;
}
.income {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #cffaf6;
  /* width:100%; */
  border: 1px solid #06b6d4;
  border-radius: 14px;
  margin-bottom: 14px;
  padding: 10px;
}
.expenses {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #cbd5e1;
  /* width:100%; */
  border: 1px solid #7c3aed;
  border-radius: 14px;
  margin-bottom: 14px;
  padding: 10px;
}
